<%= form_for :session, :url => session_path do |form| %>
  <div class='field text-field'>
    <%= form.label :email %>
    <%= form.text_field :email, type: 'email' %>
  </div>

  <div class='field password-field'>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </div>

  <div class='center actions'>
    <%= form.submit class: 'tendril-button' %>
  </div>

<% end %>
