<%= simple_nested_form_for(@game) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.input :date, as: :string, input_html: {type: :date} %>
  </div>
  <div class="field">
    <%= f.input :number, label: 'Board Number' %><br>
  </div>

  <h4 class='center'>Players</h4>
  <%= f.fields_for :players do |player_form| %>
    <div class='field'>
      <%= player_form.input :user_id, collection: User.all, label_method: :email, value_method: :id %>
    </div>

    <div class='field'>
      <%= player_form.input :score %>
    </div>

    <%= player_form.link_to_remove "Remove this player", class: 'red-button' %>
  <% end %>
  <%= f.link_to_add "Add a player", :players, class: 'blue-button' %>

  <div class="bottom-actions">
    <%= f.submit class: 'tendril-button'%>
    <%= link_to 'Back', games_path, class: 'red-button' %>
  </div>
<% end %>
