<div class='page-header'>
  <h1>Board Number: <%= @game.number %> / <%= @game.date.to_s(:long) %> </h1>
</div>

<% unless @game.players.blank? %>
  <div class='center'>
    <%= render partial: 'leaderboard', locals: {leaders: @leaders} %>
  </div>
<% end %>

<% if current_user && current_user.admin? %>
  <%= link_to 'Edit', edit_game_path(@game), class: 'red-button' %> |
<% end %>
<%= link_to 'Back', games_path, class: 'blue-button' %>
