<div class='page-header'>
  <h1>Board Number: <%= @game.number %> / <%= @game.date.to_s(:long) %> </h1>
</div>

<div class='center'>
  <%= render partial: 'leaderboard', locals: {leaders: @leaders} %>
</div>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
