<p>
  <strong>Date:</strong>
  <%= @game.date %>
</p>

<p>
  <strong>Board Number:</strong>
  <%= @game.number %>
</p>

<table>
  <thead>
    <tr>
      <th>Rank</th>
      <th>Email</th>
      <th>Score</th>
      <th>Current ELO Score</th>
    </tr>
  </thead>
  <tbody>
    <% @leaders.each do |rank, player| %>
      <tr>
        <td><%= rank %></td>
        <td><%= link_to player.email, "mailto:#{player.email}" %></td>
        <td><%= player.score %></td>
        <td><%= player.elo_score %></td>
    <% end %>
  </tbody>
</table>

<%= link_to 'Edit', edit_game_path(@game) %> |
<%= link_to 'Back', games_path %>
