<!DOCTYPE html>
<html>
<head>
  <title>Tendril Catan Ladder</title>
  <%= analytics_init :local => Rails.env.development? %>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div id='header'>
    <div class='user-nav'>
      <% if signed_in? %>
          Signed in as: <%= link_to current_user.email, edit_user_path(current_user) %>
          <%= link_to 'Sign out', sign_out_path, :method => :delete %>
          <input type='hidden' id="user_id" value="<%= current_user.id %>"/>
      <% else %>
        <%= link_to 'Sign in', sign_in_path, class: 'dropdown-hover' %>
          <div class='menu'>
            <%= render partial: 'sessions/form' %>
          </div>
      <% end %>
    </div>
  </div>
  <div id="flash">
    <% flash.each do |key, value| %>
      <div class="flash <%= key %>"><%= value %></div>
    <% end %>
  </div>

<div class='content'>
  <div class='main'>
    <%= yield %>
  </div>
  <div class='sidebar'>
    <% if content_for?(:sidebar) %>
      <%= yield(:sidebar) %>
    <% else %>
      <h3>Overall Rankings</h3>
      <%= render partial: 'leaderboard', locals: {leaders: LeaderBoard.new(User.leaders).rankings} %>
    <% end %>
  </div>
</div>

</body>
</html>
